<html>
<div th:fragment="topnav" >
<div class="topbar-main" style="background-color: #FF6600">
    <div class="container">

        <!-- Logo container-->
        <div class="logo">
            <a href="/" class="logo"><i class="md md-equalizer"></i> <span>Coinext 가상화폐 트래이딩봇 v1.0 For 빗썸(Bithumb)</span> </a>
        </div>
        <!-- End Logo container-->

        <div class="menu-extras">

            <ul class="nav navbar-nav navbar-right pull-right">
                <li class="dropdown">
                    <a href="/logout" class="dropdown-toggle waves-effect waves-light">로그아웃</a>
                </li>
            </ul>

            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

    </div>
</div>
<div class="navbar-custom">
    <div class="container">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li class="has-submenu">
                    <a href="/dashboard"><i class="md md-dashboard"></i>대시보드</a>
                </li>
                <li class="has-submenu">
                    <a href="/trade_setting"><i class="md md-dashboard"></i>트래이딩설정</a>
                </li>
                <li class="has-submenu">
                    <a href="/connect_setting"><i class="md md-dashboard"></i>연동설정</a>
                </li>
                <li class="has-submenu">
                    <a href="/report"><i class="md md-dashboard"></i>레포트</a>
                </li>
            </ul>
            <!-- End navigation menu -->
        </div> <!-- end #navigation -->
    </div> <!-- end container -->
</div>
</div>
</html>