<html>
<div th:fragment="del" >
    <div class="modal fade" id="delDataModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delDataModalLabel">-------</h4>
                </div>
                <div id = "delDataModalBody" class="modal-body">
                    <div>
                        xxxx
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소하기</button>
                    <button id="delSubmitBtn" type="button" class="btn btn-danger">삭제하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>