
<!DOCTYPE html>
<html>
<head>
    <th:block th:include="./dashboard/header :: header"></th:block>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/amstock.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
</head>


<body>
<!-- Navigation Bar-->
<header id="topnav" >
    <div th:include="./dashboard/topnav :: topnav"></div>
</header>
<!-- End Navigation Bar-->


<!-- =======================
     ===== START PAGE ======
     ======================= -->

<div class="wrapper">
    <div class="container">
        <input id="userId" type="hidden" th:value="${user.id}">
        <input id="selectionCoin" type="hidden" th:value="${selectionCoin}">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Welcome !</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-border panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="md md-keyboard-arrow-right text-primary"></i>내 자산
                        </h4>
                    </div>
                    <div class="tab-content br-n pn" style="height:80px;margin-left: 30px;">
                        <table class="table table-striped m-0">
                            <tbody id="myWalletInfoBodyId">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer text-right">
            <div th:include="./dashboard/footer :: footer"></div>
        </footer>
        <!-- End Footer -->

    </div> <!-- end container -->
</div>
<!-- End wrapper -->

<script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script th:src="'js/common/utils.js?dummy=' + ${version}"></script>
<script th:src="'js/api/common_api.js?dummy=' + ${version}"></script>
<script th:src="'js/api/wallet_api.js?dummy=' + ${version}"></script>
<script th:src="'js/api/transaction_api.js?dummy=' + ${version}"></script>
<script th:src="'js/api/trade_api.js?dummy=' + ${version}"></script>
<script th:src="'js/chart/stock_chart.js?dummy=' + ${version}"></script>
<script th:src="'js/service/trade.js?dummy=' + ${version}"></script>
<script th:src="'js/websock/stomp.min.js?dummy=' + ${version}"></script>
<script th:src="'js/websock/websock_handler.js?dummy=' + ${version}"></script>

<script th:inline="javascript" type="text/javascript">

    function init() {
        loadMyWalletInfo();
    }

    init();
</script>

</body>
</html>